.header-container {
    background-color: #473E91; /* สีพื้นหลังของ header */
    color: white;
    padding: 10px 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 75px; 
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
  
  .header-container .logo {
    display: flex; /* ใช้ flexbox สำหรับจัดตำแหน่งโลโก้ */
    align-items: center; /* จัดตำแหน่งแนวตั้งให้กลาง */
    
  }
  
  .header-container .logo-image {
    width: 150px; /* ปรับขนาดความกว้างของภาพ */
    height: auto; /* ปรับความสูงอัตโนมัติเพื่อไม่ให้เบี้ยว */
    margin-right: 10px; /* ช่องว่างระหว่างภาพและข้อความ */
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* จัดตำแหน่งเมนูไปทางซ้าย */
    gap: 20px;
    font-size: 1.05rem;
    margin-top: 15px;
    margin-left: 20px; 
 
  }
  
  .nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
    
  }
  
  .nav-list a:hover {
    text-decoration: underline;
  }
  
  .nav-list button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  