/* กำหนด .app-container ให้เต็มหน้าจอ */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ให้ความสูงเต็มหน้าจอ */
}

/* เนื้อหาหลักจะขยายเต็มพื้นที่ที่เหลือ */
.main-content {
  flex: 1;
  padding: 20px;
  overflow: auto;
  padding-bottom: 300px; /* เพิ่มระยะห่างจาก Footer */
}

/* กำหนด Footer ให้ไปอยู่ที่ด้านล่างสุด */
footer {
  margin-top: auto; /* ให้ footer ขยับไปอยู่ด้านล่างสุด */
  padding: 20px;
  background-color: #f1f1f1; /* เพิ่มสีพื้นหลังให้ footer */
  text-align: center;
}
